#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 0.1;
}

h2 {
  font-size: 3rem;
  line-height: 0.5;
}

.gradient-animate {
  background: linear-gradient(90deg, #3140cc, #dc52f7, #3140cc);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradientShift 8s ease infinite;
  display: inline-block;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}