.flexer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
}

.item-1 {
  align-self: auto;
  height: 10rem;
  width: 35rem;
  flex-shrink: 0;
}

.item-2 {
  align-self: auto;
  height: 10rem;
  width: 35rem;
  flex: 1;
}

.item-3 {
  align-self: auto;
  height: 5rem;
  width: 35rem;
  flex-shrink: 0;
  margin-top: auto;
}